


.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  

}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);

}

.step-img {
  width: 35%;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: rgba(173, 181, 189, 0.61);
  margin-bottom: 1.2rem;
   
}

.heading-tertiary {
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
  line-height: 1.2;


}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;

}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before, .step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  

}

.step-img-box::before {
  
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  
 
  
  z-index: -2;
}

.step-img-box::after {
  
  width: 45%;
  /* height: 60%; */
  padding-bottom: 45%;
  background-color: #f1d4bc;
  z-index: -1;

  
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

